/* ============== 全局設定 ============== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.month,
.month a,
.month .bottomButton a {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}


/* ============== 主要 ============== */
.container {
    /* background-color: darkorange; */
    border-radius: 16px;
    height: 720px;
    width: 72vw;
    margin: auto;
    display: flex;
    /* overflow: hidden; */
}

main,
aside {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(24px);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* 日歷 */
main {
    padding: 16px 0;
    width: 76%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons,
.weekList {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.buttons {
    height: 48px;
    margin: 40px;
    align-items: center;
}

.button {
    border-radius: 8px;
    border: 1px solid white;
    padding: 12px 16px;
    margin: 0 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white !important;
}

.button:hover {
    filter: brightness(0.7);
}

.button:active {
    filter: brightness(0.7);
}

.calendar {
    margin: 0 40px;
}

.weekList li {
    font-size: 1.5rem;
    width: 100%;
    margin: 20px auto;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}

table td {
    height: 64px;
    text-align: center;
    font-size: 1.5rem;
}

table th {
    padding: 8px;
}

#dateTable td {
    /* padding: 16px; */
}

caption {
    font-size: 24px;
    color: #FFF;
    border-radius: 50px;
    padding: 8px;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 1px 12px 0px rgba(255, 255, 255, 0.5); */
}


.changeTable td {
    height: 100px;
}

.bottomButton>.button {
    float: right;
    margin: 16px 40px;
}

.tableLink {
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.05s;
    /* color: rgb(26, 79, 108); */
}

.tableLink:active {
    color: white !important;
    border: 2px solid white;
}

/* 側邊欄 */
aside {
    width: 24%;
    height: 100%;
    margin-right: 16px;
    text-align: center;
    padding: 40px;
}

aside>div {
    margin-bottom: 32px;
}

/* 顯示時間 */
.timeBox p {
    margin: 16px;
}

.timeBox .yearMonth {
    font-size: 1.5rem;
    font-weight: 700;
}

.timeBox .day {
    font-size: 5.5rem;
    font-weight: 900;

}

.timeBox .day .ordinal {
    font-size: 3rem;
}

.timeBox .week {
    font-size: 2rem;
    font-weight: 700;
}

.timeBox .clock {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 引文 */
.quotation .mark {
    font-size: 4rem;
    margin-bottom: 24px;
}

/* ============== 頁尾 ============== */
#foot {
    width: 100%;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
}

#foot a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

/* 特殊字 */
.non-nowMonth {
    filter: opacity(30%);
}

.chooseTime {
    border: 4px solid rgb(255, 255, 255);
}

.thisTime a {
    color: white !important;
}

.bottomButton .button {
    color: white !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.bo {
    color: rgb(138, 43, 226);
    color: rgb(138, 43, 226);
    color: rgba(186, 85, 211, 0.5);
    color: rgb(148, 0, 211);
}

/* 背景圖片 */

.month_1,
.month_1 .bottomButton a {
    background: url('../images/month_1.jpg') no-repeat center center / cover;
}

.month_2,
.month_2 .bottomButton a {
    background: url('../images/month_2.jpg') no-repeat center center / cover;
}

.month_3,
.month_3 .bottomButton a {
    background: url('../images/month_3.jpg') no-repeat center center / cover;
}

.month_4,
.month_4 .bottomButton a {
    background: url('../images/month_4.jpg') no-repeat center center / cover;
}

.month_5,
.month_5 .bottomButton a {
    background: url('../images/month_5.jpg') no-repeat center center / cover;
}

.month_6,
.month_6 .bottomButton a {
    background: url('../images/month_6.jpg') no-repeat center center / cover;
}

.month_7,
.month_7 .bottomButton a {
    background: url('../images/month_7.jpg') no-repeat center center / cover;
}

.month_8,
.month_8 .bottomButton a {
    background: url('../images/month_8.jpg') no-repeat center center / cover;
}

.month_9,
.month_9 .bottomButton a {
    background: url('../images/month_9.jpg') no-repeat center center / cover;
}

.month_10,
.month_10 .bottomButton a {
    background: url('../images/month_10.jpg') no-repeat center center / cover;
}

.month_11,
.month_11 .bottomButton a {
    background: url('../images/month_11.jpg') no-repeat center center / cover;
}

.month_12,
.month_12 .bottomButton a {
    background: url('../images/month_12.jpg') no-repeat center center / cover;
}

/* 雪花 */
.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 防止雪花影響到其他元素的交互 */
    z-index: 100;
}

.snowflake {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    pointer-events: none;
    animation: fall 5s;
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        /* 垂直方向上的動畫效果 */
        opacity: 0;
    }
}