/* ============== 全局設定 ============== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-size: 18px;
}


/* ============== 主要 ============== */
.container {
    /* background-color: darkorange; */
    border-radius: 16px;
    height: 720px;
    width: 72vw;
    margin: auto;
    display: flex;
    /* overflow: hidden; */
}

main,
aside {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* 日歷 */
main {
    width: 76%;
    height: 100%;
    display: grid;

}

.buttons,
.weekList,
.bottomButton {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.buttons {
    margin: 56px 40px 0px;
}

.button {
    border-radius: 8px;
    background-color: aqua;
    padding: 8px;
}

.calendar {
    margin: 0 40px;
}

.weekList li {
    font-size: 1.5rem;
    width: 100%;
    margin: 20px auto;
}

.calendarTable {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.calendarTable td {
    height: 80px;
    padding: 8px;
    border: 1px solid #000;
    background-color: darkcyan;
}

.bottomButton {
    justify-content: flex-end;
    margin: 0 40px;
}

/* 側邊欄 */
aside {
    width: 24%;
    height: 100%;
    margin-right: 16px;
    text-align: center;
    padding: 40px;
}

aside>div {
    margin-bottom: 32px;
}

/* 顯示時間 */
.timeBox p {
    margin: 16px;
    font-family: "Roboto", sans-serif;
}

.timeBox .yearMonth {
    font-size: 1.5rem;
    font-weight: 700;
}

.timeBox .day {
    font-size: 6rem;
    font-weight: 900;

}

.timeBox .day .ordinal {
    font-size: 3rem;
}

.timeBox .week {
    font-size: 2rem;
    font-weight: 700;
}

.timeBox .time {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 引文 */
.quotation .mark {
    font-size: 8rem;
}

/* ============== 頁尾 ============== */
footer {
    width: 100%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
}


/* ============== 主題色 ============== */

.month_11 {
    color: rgb(26, 79, 108);
    background-image: url(./images/month_11.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}